html,
body {
	height: calc(100% - 8px);
}

#flexContainer {
	display: flex;
	height: 100%;
}

#userEntryWrapper {
	overflow: hidden;
	flex-grow: 1;
	min-height: 500px;
}

#animationWrapper {
	overflow: hidden;
	flex-grow: 1;
	min-width: 500px;
}

#animationCanvas {
	border: 1px solid black;
	background-color: #eee;
}

.grabbable {
	cursor: move;
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

.grabbable:active {
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}

#siteswapForm {
	margin: 7px;
	height: 24px;
	display: inline-block;
}

/* #siteswapInput:valid, #siteswapInput:required {
	border-color: black;
	background-color: white;
}

#siteswapInput:invalid {
	border-color: red;
	background-color: pink;
} */

#siteswapEntryError {
	margin: 7px;
	height: 24px;
	display: inline-block;
}

.ui-spinner-button {
	height: 11px;
}

.ui-spinner-input {
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: 3px;
	margin-bottom: 3px;
}

/*<editor-fold> LADDER DIAGRAM ************************************************/
.inner {
	position: relative;
	height: calc(100% - 20px);
	margin: 7px;
}

#ladderDiagram {
	position: relative;
	height: calc(100% - 21px);
}

#resetLadder {
	/* position: relative; */
	height: 24px;
	padding: 1px;
	display: inline-block;
	margin: 7px;
}

#repeatCount {
	height: 10px;
	width: 30px;
}

#repeatCountOuter {
	height: 22px;
	display: inline-block;
	margin: 7px;
}

#outer {
	position: relative;
	height: calc(100% - 21px);
	width: 300px;
}

#sliders {
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0px;
}

#lines {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0px;
}

.slider {
	background: transparent;
	margin: 0px 60px 0px 60px;
	display: inline-block;
	float: left;
	width: 7px;
	height: calc(100% - 2px);
}

.ui-slider .ui-slider-handle {
	height: 13px;
	width: 13px;
	border-radius: 7px;
	margin-left: 0px;
	font-size: 12px;
}

.ui-slider .ui-slider-handle-disabled {
	background: repeat-x scroll 50% 50% #E5DEDE;
	/*idk why, but this makes disabled handles look right*/
	border: 1px solid #D3D3D3;
	color: #222;
	font-weight: normal;
}

/*</editor-fold> LADDER DIAGRAM ***********************************************/
