html,
body {
	height: calc(100% - 8px);
}

#flexContainer {
	display: flex;
	height: calc(100% - 14px);
	min-width: 800px;
}

#userEntryWrapper {
	/* overflow: hidden; *//*I commented this so the resizable handle worked outside the div */
	/* width: 310px; */
	min-height: 315px;
	margin-right: 8px;
	/* min-width: 310px; */
}

#animationWrapper {
	overflow: hidden;
	flex-grow: 1;
	min-width: 500px;
}

#animationCanvas {
	border: 1px solid black;
	background-color: #eee;
}

.grabbable {
	cursor: move;
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

.grabbable:active {
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}

.pointer {
	cursor: pointer;
}

#siteswapEntry {
	width: 100%;
	margin-bottom: 5px;
}

#siteswapForm {
	display: inline-block;
	width: calc(100% - 115px);
}

#siteswapInput {
	width: calc(100% - 2px);
}

#siteswapEntryError {
	width: 105px;
	height: 20px;
	display: inline-block;
	float: right;
	text-align: center;
	border-color: red;
	background-color: pink;
	visibility: hidden;
}

/*increase size of user entry resizing handle*/
.ui-resizable-e {
	width: 15px;
	right: -5px;
}

#tabs {
	padding: 0;
	height: calc(100% - 40px);
}

#tabNames {
	padding: 0;
}

.ui-tabs-tab {
	width: calc(33% - 4px) !important;
}

.ui-tabs-anchor {
	padding: 4px 0 4px 0 !important;
	width: 100% !important;
	font-size: 13px !important;
	text-align: center;
	/* margin-right: 3px !important; */
}

/*<editor-fold> PRESET OPTIONS ************************************************/

#presetOptions {
	height: calc(100% - 60px);
	overflow: auto;
}

#presetOptions h2 {
	margin: 0 !important;
}

#examplePresets, #customPresets {
	width: 10px;
	height: 10px;
}

#currentPresetWrapper {
	width: 100%;
}

.presetCard {
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	border-color: #c5c5c5;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	margin: 10px 0 10px 0;
}

.presetCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.presetName {
	font-size: 25px;
	margin: 0;
	word-wrap: break-word;
}

.presetSiteswap {
	color: #007fff;
	margin: 3px 0 3px 0;
	word-wrap: break-word;
}

.presetDescription {
	width: 100%;
	font-size: 15px;
	margin: 3px 0 3px 0;
	word-wrap: break-word;
}

#presetMenusWrapper {
	overflow: auto;
	margin-bottom: 10px;
}

#examplePresetButton {
	float: left;
	width: calc(50% - 2px);
}

#customPresetButton {
	float: right;
	margin-right: 0;
	padding-left: 20.5px; /*added padding so it wraps at the same time as example presets button*/
	padding-right: 20.5px;
	width: calc(50% - 2px);
}

#presetName {
	display: block;
	width: calc(100% - 3px);
	margin-bottom: 5px;
}

#presetDescription {
	display: block;
	width: calc(100% - 6px);
	height: 30px;
	max-height: calc(100vh - 500px); /*vh is viewport percentage, for some reason i have to use this*/
	resize: vertical;
	margin-bottom: 5px;
}

#presetInfoButtonsWrapper {
	overflow: auto;
}

#savePreset {
	float: left;
	width: calc(50% - 2px);
}

#updatePreset {
	float: right;
	margin-right: 0;
	width: calc(50% - 2px);
}

/*make button grey when disabled*/
input[type=button]:disabled {
	border: 1px solid #cccccc !important;
	background: #ededed !important;
	font-weight: normal !important;
	color: #2b2b2b !important;
}

/*</editor-fold> PRESET OPTIONS ***********************************************/

/*<editor-fold> SITESWAP OPTIONS **********************************************/
 /*turns off html spinner arrows, we use jquery ui arrows*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#siteswapOptions {
	height: calc(100% - 60px);
	overflow: auto;
}

#siteswapOptions form {
	display: table;
	width: 100%;
	border-spacing: 0 7px;
}

.spinnerContainer {
	display: table-row;
	width: 100%;
	margin: 10px 5px 10px 5px !important;
}

#siteswapOptions label {
	/* text-align: center; */
	vertical-align: middle;
	display: table-cell;
}

#siteswapOptions span {
	width: 100px;
	float: right;
	display: table-cell;
}

/*</editor-fold> SITESWAP OPTIONS *********************************************/

/*<editor-fold> LADDER DIAGRAM ************************************************/
#ladderTab {
	margin-right: 0px;
}

/*<editor-fold> LADDER INPUT **************************************************/
#repeatCount {
	height: 10px;
	width: 30px;
}
#repeatCountOuter {
	height: 22px;
	display: inline-block;
	margin: 6px;
}
#repeatCount .ui-spinner-button {
	height: 11px;
}
#repeatCount .ui-spinner-input {
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: 3px;
	margin-bottom: 3px;
}

#resetLadder {
	/* position: relative; */
	height: 24px;
	padding: 1px;
	display: inline-block;
	margin: 6px;
	float: right;
	/* width: 88px; */
}
/*</editor-fold> LADDER INPUT *************************************************/

#ladderDiagram {
	position: relative;
	height: calc(100% - 28px);
	padding: 0;
	/* overflow: auto; */
}

#outer {
	position: relative;
	height: calc(100% - 34px);
	width: 100%;
}

.inner {
	position: relative;
	height: calc(100% - 12px);
	margin: 6px 0 6px 0;
}

#lines {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0px;
}

#ladderLines {
	border-left: 0 !important;
	border-right: 0 !important;
	border-top: 0 !important;
	border-bottom: 0 !important;
}

#sliders {
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0px;
}

.slider {
	background: transparent;
	margin: 0px 72px 0px 73px;
	display: inline-block;
	float: left;
	width: 7px;
	height: calc(100% - 2px);
}

.ui-slider .ui-slider-handle {
	height: 13px;
	width: 13px;
	border-radius: 7px;
	margin-left: 0px;
	font-size: 12px;
}

.ui-slider .ui-slider-handle-disabled {
	background: repeat-x scroll 50% 50% #E5DEDE;
	/*idk why, but this makes disabled handles look right*/
	border: 1px solid #D3D3D3;
	color: #222;
	font-weight: normal;
}
/*</editor-fold> LADDER DIAGRAM ***********************************************/
