html,
body {
	height: calc(100% - 8px);
}

#flexContainer {
	display: flex;
	height: calc(100% - 14px);
	min-width: 800px;
}

#userEntryWrapper {
	overflow: hidden;
	/* width: 310px; */
	min-height: 500px;
	margin-right: 8px;
	/* min-width: 310px; */
}

#animationWrapper {
	overflow: hidden;
	flex-grow: 1;
	min-width: 500px;
}

#animationCanvas {
	border: 1px solid black;
	background-color: #eee;
}

.grabbable {
	cursor: move;
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

.grabbable:active {
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}

#siteswapEntry {
	display: flex;
	align-items: center;
}

#siteswapForm {
	padding-top: 2px;
	margin: 0 2px 6px 6px;
	height: 24px;
	display: inline-block;
}

#siteswapEntryError {
	width: 102px;
	font-size: 13px;
	line-height: 24px;
	margin: 0 0 6px 2px;
	height: 20px;
	display: inline-block;
	border-width: 1px;
	border-style: solid;
	border-color: white;
	text-align: center;
}

.siteswapEntryErrorInvalid {
	border-color: red !important;
	background-color: pink !important;
}

#tabs {
	padding: 0;
	height: calc(100% - 40px);
}

#tabNames {
	padding: 0;
}

.ui-tabs-tab {
	width: calc(33% - 4px) !important;
}

.ui-resizable-e {
	width: 15px;
}

#ladderTab {
	margin-right: 0px;
}

.ui-tabs-anchor {
	padding: 4px 0 4px 0 !important;
	width: 100% !important;
	font-size: 13px !important;
	text-align: center;
	/* margin-right: 3px !important; */
}

#presetTab {
	/* margin-right: 3px; */
	/* width: calc(100%); */
}


/*<editor-fold> LADDER DIAGRAM ************************************************/
/*<editor-fold> LADDER INPUT **************************************************/
#repeatCount {
	height: 10px;
	width: 30px;
}
#repeatCountOuter {
	height: 22px;
	display: inline-block;
	margin: 6px;
}
.ui-spinner-button {
	height: 11px;
}
.ui-spinner-input {
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: 3px;
	margin-bottom: 3px;
}

#resetLadder {
	/* position: relative; */
	height: 24px;
	padding: 1px;
	display: inline-block;
	margin: 6px;
	float: right;
	/* width: 88px; */
}
/*</editor-fold> LADDER INPUT *************************************************/

#ladderDiagram {
	position: relative;
	height: calc(100% - 28px);
	padding: 0;
}

#outer {
	position: relative;
	height: calc(100% - 34px);
	width: 100%;
}

.inner {
	position: relative;
	height: calc(100% - 12px);
	margin: 6px 0 6px 0;
}

#lines {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0px;
}

#ladderLines {
	border-left: 0 !important;
	border-right: 0 !important;
}

#sliders {
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0px;
}

.slider {
	background: transparent;
	margin: 0px 72px 0px 73px;
	display: inline-block;
	float: left;
	width: 7px;
	height: calc(100% - 2px);
}

.ui-slider .ui-slider-handle {
	height: 13px;
	width: 13px;
	border-radius: 7px;
	margin-left: 0px;
	font-size: 12px;
}

.ui-slider .ui-slider-handle-disabled {
	background: repeat-x scroll 50% 50% #E5DEDE;
	/*idk why, but this makes disabled handles look right*/
	border: 1px solid #D3D3D3;
	color: #222;
	font-weight: normal;
}
/*</editor-fold> LADDER DIAGRAM ***********************************************/
